%flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.git-changelog-faint {
  opacity: 0.5;
  // color: var(--text-faint);
}

.git-changelog-disabled {
  opacity: 0.4;
}

.git-changelog-warning {
  border-bottom: 1px solid var(--text-warning);
}

.git-changelog-top-margin {
  margin-top: var(--size-4-1);
}

.git-changelog-on-checkpoint-commit-icon {
  vertical-align: middle;
}

.git-changelog-compared-versions-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-4-1);
  margin-bottom: var(--size-4-1);
  justify-content: center;
  align-items: center;
  margin-top: var(--size-2-1);
}

.git-changelog-force-center {
  align-self: center !important;
}

.git-changelog-align-file {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
// Status colors
.git-changelog-stat-color {
  opacity: var(--git-changelog-opacity);

  &[data-type='A'],
  &[data-type='Additions'] {
    color: var(--color-green);
  }
  &[data-type='R'],
  &[data-type='Internal Moves'],
  &[data-type='Incoming Moves'],
  &[data-type='Outgoing Moves'] {
    color: var(--color-orange);
  }
  &[data-type='M'] {
    color: var(--color-gray);
  }
  &[data-type='D'],
  &[data-type='Deletions'] {
    color: var(--color-red);
  }
  &[data-type='F'],
  &[data-type='RF'] {
    color: var(--color-cyan);
  }
}

// Stats styling
.git-changelog-stat {
  @extend %flex-center;
  gap: var(--size-4-2);
  height: 100%;
  padding-bottom: var(--size-4-1);
  flex-wrap: nowrap;
  min-width: 0;
}

.git-changelog-stat-item {
  @extend %flex-center;
  gap: 2px;
  height: 100%;
  font-size: var(--font-small);
  flex-grow: 1;

  .invisible {
    visibility: hidden;
  }

  .icon {
    @extend %flex-center;
    height: var (--size-4-2);
    width: var (--size-4-2);
  }

  .file-icon {
    @extend %flex-center;
    height: var(--size-4-3);
    width: var(--size-4-3);
  }

  .number {
    @extend %flex-center;
    font-weight: var(--font-normal);
    min-width: 1ch;
  }
}

.git-changelog-stat-item-file {
  @extend .git-changelog-stat-item;
  gap: 1px;
}

// Layout components
.git-changelog-text-area {
  width: 100%;
  max-width: 480px;
  min-width: 260px;
  min-height: 6em;
  height: auto;
}

.git-changelog-view {
  --git-changelog-opacity: 0.84;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding-bottom: calc(2 * var(--size-4-1));
}

.git-changelog-checkpoint-modal {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: flex;
}

.git-changelog-approve-button {
  align-self: center;
}

.git-changelog-entry-title {
  @extend .git-changelog-one-line;
  color: var(--text-accent);
  display: flex;
  gap: var(--size-4-1);
  padding-bottom: var(--size-4-1);
}

.git-changelog-compared-version-title {
  @extend .git-changelog-one-line;
  color: var(--text-muted);
  font-size: var(--font-smaller);
}

.git-changelog-compared-version-title-arrow {
  color: var(--text-faint);
}

.git-changelog-initial-version-tag {
  @extend .git-changelog-one-line;
  font-size: 0.75em;
  color: var(--text-muted);
  background-color: rgba(var(--color-green-rgb), 0.18);
  padding: var(--size-2-1) var(--size-4-2);
}

.git-changelog-one-line {
  flex: 1;
  flex-wrap: nowrap;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.git-changelog-file-name-container {
  display: flex;
  min-width: 54px;
  padding-right: var(--size-2-3);
  gap: var(--size-4-1);

  .open-file-icon {
    padding: 0 4px;
    height: 16px;
    min-width: min-content;
  }
}

.git-changelog-file-status-letter {
  text-align: center;
  align-items: center;
  padding-right: var(--size-4-1);
  // width: 0.9em;
  flex-shrink: 2;
  min-width: 0;
  overflow: hidden;
}

.git-changelog-renamed-and-moved {
  // text-overflow: clip;
  display: flex;
  padding-left: auto;
  min-width: min-content;
  // overflow: hidden;
  // white-space: nowrap;
  gap: var(--size-2-2);
}

.git-changelog-left-padding {
  margin-left: var(--size-4-4);
}

.git-changelog-setting-label {
  padding: 0 var(--size-4-2);
  transform: translateY(-1px); // workaround to appear centered
  display: inline-flex;
}

.git-changelog-new {
  @extend .git-changelog-setting-label;
  color: var(--color-green);
  background-color: rgba(var(--color-green-rgb), 0.15);
}

.git-changelog-experimental {
  @extend .git-changelog-setting-label;
  color: var(--color-orange);
  background-color: rgba(var(--color-orange-rgb), 0.15);
}

/* Sticky view header and padding fixes */
.workspace-leaf-content {
  &[data-type='vault-changelog-view'] .view-content,
  &[data-type='vault-git-history-comparison-view'] .view-content,
  &[data-type='compare-to-checkpoint-view'] .view-content,
  &[data-type='file-changelog-view'] .view-content {
    padding: 0;
  }
}

.infinite-intersection-target {
  padding-block: 0 !important;
}
